strncat
strncat.c
strncpy
strncpy.c
strcmp
strcmp.c
rev_array
rev_array.c
string_toupper
string_toupper.c
cap_string
cap_string.c
leet
leet.c
rot13
rot13.c
print_number
print_number.c
infinite_add
infinite_add.c
print_buffer
print_buffer.c
